<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <style>
    .nav__svg {
      width: 1.0em;
    }
  </style>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>

<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Transit Data Manager</a>
      <ul class="navbar-nav">
          <a class="nav-item">
            <a class="nav-link" href="/">Routes and Stops</a>
          </a>
          <a class="nav-item">
            <a class="nav-link" href="/">Timetable</a>
          </a>
          <a class="nav-item">
            <a class="nav-link" href="/">Fare Structure</a>
          </a>
          </ul>
          <ul class="navbar-nav ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"><svg class="nav__svg"
                  aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user" role="img"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                  <path fill="currentColor"
                    d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z">
                  </path>
                </svg><!-- <i class="fas fa-user fa-fw"></i> --></a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">Settings</a><a class="dropdown-item" href="#">Activity Log</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="login.html">Logout</a>
              </div>
            </li>
          </ul>
    </nav>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <h1 class="display-5 font-weight-normal">Modern transit needs modern data practices</h1>
      <img src="/img/tram-icon.svg" height="64" alt="Bus icon"/>
      <img src="/img/bus-icon.svg" height="64" alt="Bus icon"/>
      <img src="/img/rail-icon.svg" height="64" alt="Train icon"/>
    </div>
  </header>
  {% block content %}{% endblock %}
</body>

</html>